<p>Olá {{ name }}</p>
<p>Clique neste link para verificar seu endereço de e-mail.</p>
<p><a href="{{ confirmationLink }}" target="_blank" rel="noopener noreferrer">{{ confirmationLink }}</a></p>
<p>Se você não solicitou a verificação deste endereço, ignore este e-mail.</p>
<p>Obrigado,</p>
<p>Equipe da {{ from }}</p>